#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    min-width: 300px;
}

.card .img {
    height:200px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}

.card h4 {
    font-size: 1rem;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
